
body {
  font-family: 'Source Sans Pro';
  display: flex;
  justify-content: center;
}

button {
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 500;
  height: 2rem;
  width: 2rem;
  background-color: #FFF;
  margin: 5px;
}

button:hover {
  border: 2px solid #da3743;
}

#buttons {
  float: right;
}

#suggested-restaurant {
  border: 1px solid red; 
  margin: 10px
}

#header {
  border-bottom: 1px solid #e1e1e1;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.33;
  height: 79px;
  width: 608px;
  padding-bottom: 1rem;
}

#suggested-restaurant-image {
  height: 108;
  width: 190;
  padding-bottom: 10px;
}

#suggested-restaurant {
  border: 1px solid lightgrey;
  width: 190;
  display: inline-block;
}

buttons {
  display: inline;
}

#restaurants { 
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 608px;
  height: 328px;
  padding-top: 1rem;
  padding: 1px;
}

#suggested-restaurant-amount-booked {
  font-size: 1rem;
  font-weight: 500;
}

#suggested-restaurant-name {
  font-weight: bold;
  font-size: 1rem;
}

#suggested-restaurant-stars {
  font-size: .9rem;
}

#suggested-restaurant-type {
  font-weight: lighter;
}
